{% load static %}
{% include 'includes/header.html' %}
<link rel="stylesheet" href="{% static 'css/projectList.css' %}">

<h2>All Challenges</h2>
{% if user.is_authenticated and user.profile.role == 'organizer' %}
<div class="project-actions">
    <a href="{% url 'createChallenge' %}" class="btn">Create New Challenge</a>
</div>
{% endif %}

{% if challenges %}
<div class="project-container">
    {% for challenge in challenges %}
    <a href="{% url 'challengeTaskList' challenge.id %}" class="project-link">
    <div class="project-card">
        <img src="{% static 'images/' %}{{ challenge.wallpaper }}" alt="{{ challenge.title }} wallpaper" class="project-image">
        <div class="project-info">
            <h3>{{ challenge.title }}</h3>
            <p><strong>Category:</strong> {{ challenge.age_category }}</p>
            <p><strong>Start:</strong> {{ challenge.start_date }} | <strong>End:</strong> {{ challenge.end_date }}</p>
        </div>
    </div>
    </a>
    {% endfor %}
</div>
{% else %}
<p>No challenges available yet.</p>
{% endif %}

{% include 'includes/footer.html' %}
