{% load static %}
{% include 'includes/header.html' %}

<link rel="stylesheet" href="{% static 'css/wallpaper.css' %}">

<h2>Create Project</h2>
<form method="post">
  {% csrf_token %}
  
  {{ form.name.label_tag }}
  {{ form.name }}
  
  {{ form.description.label_tag }}
  {{ form.description }}
  
  <h3>Select Wallpaper:</h3>
  <div class="wallpaper-options">
    {% for choice in form.wallpaper %}
      <label>
        {{ choice.tag }}
        <div class="wallpaper-option">
        <img src="{% static 'images/'|add:choice.data.value %}" 
               class="wallpaper-thumbnail"
               alt="{{ choice.data.label }}">
        </div>
      </label>
    {% endfor %}
  </div>
  
  <button type="submit">Create</button>
</form>

{% include 'includes/footer.html' %}
