{% load static %}
{% include 'includes/header.html' %}
<link rel="stylesheet" href="{% static 'css/projectList.css' %}">

<h2>My Projects</h2>
<div class="project-actions">
    <a href="{% url 'createProject' %}" class="btn">Create New Project</a>
    {% if is_premium %}
        <a href="{% url 'createProject' %}?collaborate=true" class="btn premium-btn">Collaborate Project</a>
    {% endif %}
</div>

{% if owned_projects %}
<h3>Owned Projects</h3>
<div class="project-container">
    {% for project in owned_projects %}
    <a href="{% url 'taskList' project.id %}" class="project-link">
        <div class="project-card">
            <img src="{% static 'images/' %}{{ project.wallpaper }}" alt="{{ project.name }} wallpaper" class="project-image">
            <div class="project-info">
                <h3>{{ project.name }}</h3>
                <p>Owner: You</p>
                <a href="{% url 'createTask' project.id %}" class="btn">Add Task</a>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endif %}

{% if collaborative_projects %}
<h3>Collaborative Projects</h3>
<div class="project-container">
    {% for project in collaborative_projects %}
    <a href="{% url 'taskList' project.id %}" class="project-link">
        <div class="project-card">
            <img src="{% static 'images/' %}{{ project.wallpaper }}" alt="{{ project.name }} wallpaper" class="project-image">
            <div class="project-info">
                <h3>{{ project.name }}</h3>
                <p>Owner: {{ project.owner.username }}</p>
                <a href="{% url 'createTask' project.id %}" class="btn">Add Task</a>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endif %}

{% include 'includes/footer.html' %}
